<footer class="bg-secondary d-flex flex-wrap p-5 justify-content-evenly ">

    <div>
            <h1 class="text-center mb-3"><b>Connect</b></h1>
            <div class="display-5 text-center justify-content-evenly">
            <i class="fab fa-facebook mx-3"> </i>
            <i class="fab fa-instagram mx-3">  </i>
            <i class="fab fa-youtube mx-3">  </i>
            <i class="fab fa-twitter mx-3">  </i>
        </div>
    </div>

            <h6 class="text-center mt-5">Copyright 2021 KTM Sportmotorcycle GmbH, all rights reserved</h6>


</footer>
