<ul class="nav nav-tabs justify-content-center">
   <li class="nav-item">
      <a class="nav-link" routerLink="viewproducts" routerLinkActive="active">Viewproducts</a>
    </li>
   <li class="nav-item">
      <a class="nav-link" routerLink="addproducts" routerLinkActive="active">Addproducts</a>
    </li>
   
 </ul>

<router-outlet> </router-outlet>

<!-- <h1 class="text-center display-5 p-5 title "><b>Racing motorbikes</b> </h1> 
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5 ">
     <div class="col"*ngFor="let mobj of products">
        <app-productdetails [productsobj]=probj></app-productdetails>
     </div>
</div> -->
