<nav class="navbar navbar-expand-lg navbar-light bg-light p-1">
    <div class="container-fluid">
      <a class="navbar-brand " href="#"><img src="https://www.ktm.com/content/dam/websites/ktm-com/language-masters/en/logo/37860_KTM_LogoPodium_orange_RGB.jpg" width="150px" alt="this image may be deleted"><i><b> Ready to race</b></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
           <h3> <a class="nav-link  text-dark " routerLink="home" routerLinkActive="active">Home</a></h3>
          </li>
          <li class="nav-item">
            <h3><a class="nav-link  text-dark " routerLink="login" routerLinkActive="active">Login</a></h3>
          </li>
          <li class="nav-item">
            <h3><a class="nav-link  text-dark " routerLink="register" routerLinkActive="active">Register</a></h3>
          </li>
          <li class="nav-item">
            <h3> <a class="nav-link  text-dark " routerLink="Products" routerLinkActive="active">products</a></h3>
          </li>
          <li class="nav-item">
            <h3><a class="nav-link  text-dark" routerLink="contactus" routerLinkActive="active">contactus</a></h3>
          </li>
          <li>
            <h3><a class="nav-link text-dark" routerLink="test" routerLinkActive="active">Test</a></h3>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
<!-- products component -->

 <router-outlet class="back"> </router-outlet>


<!-- footer -->
  <app-footer class="position-relative top-100 start-0 "></app-footer>
