<div class="container mt-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">UserId</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
              </tr>
        </thead>
        <tbody >
            <tr *ngFor="let pgobj of myPosts">
            <td scope="col">{{pgobj.userId}} </td>
            <td scope="col">{{pgobj.id}} </td>
            <td scope="col">{{pgobj.title}} </td>
            <td scope="col"> {{pgobj.body}}</td>
        </tr>
        </tbody>
        </table>
    <!-- 2nd table -->
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">ProfilePic</th>
        <th scope="col">profession</th>
        <th scope="col">address</th>
        <th scope="col">mobile number</th>
      </tr>
</thead>
<tbody >
    <tr *ngFor="let pgobj of users">
    <td scope="col">{{pgobj.id}} </td>
    <td scope="col">{{pgobj.name}} </td>
    <td scope="col">{{pgobj.email}} </td>
    <td scope="col"><img src={{pgobj.profilePic}} alt=""></td>
    <td scope="col">{{pgobj.profession}} </td>
    <td scope="col">{{pgobj.address.city}} </td>
    <td scope="col">{{pgobj.mobileno}} </td>
</tr>
</tbody>
</table>
</div>

