<div class="container">
    <h1 class="text-center mt-5 mb-3">MOTOCROSS SUPERCROSS</h1>
<h3 >The FIM Motocross World Championship and AMA Supercross series, which is also an FIM World Championship, are the most prestigious competitions when it comes to motocross sport. Whilst serving as a testing ground for the READY TO RACE production models in KTM’s extensive SX range, the Red Bull KTM Factory Racing 
    team has enjoyed incredible success in both championships over the last 10 years.
    In 2021 KTM once again fields a strong line-up in the FIM MXGP Motocross World Championship. With a combined total of 15 FIM world titles to their names across the two Grand Prix categories (MXGP and MX2) Antonio Cairoli, Jeffrey Herlings and Jorge Prado are all ready to take on the world aboard their KTM 450 SX-F
     machines. In MX2 KTM has won 12 of the last 13 titles and fields  2020 World Champion Tom Vialle alongside Rene Hofer and Mattia Guadagnini aboard the KTM 250 SX-F. In AMA Supercross and the AMA Pro Motocross championship Red Bull KTM Factory Racing contests the series with 2019 450SX Supercross Champion Cooper Webb and Marvin Musquin aboard the KTM 450 SX-F FACTORY EDITION, along with Maximus Vohland in the 250 division</h3>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 mt-5 mb-5" >
        <div class="col" *ngFor="let imageObj of imagess">
        <img src="{{imageObj.productImage}} " class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text"><b>{{imageObj.productTitle}}</b></h3>
          <p>{{imageObj.description}}</p>
        </div>
    </div>
      </div>
 