<div class="container">
<h1 class="text-center mt-5 mb-3">MOTOGP</h1>
<h3>
    2020 was a historic year for KTM as the Austrian manufacturer took a sensational first MotoGP victory with Brad Binder at round three of the FIM Grand Prix World Championship. By the end of the season eight podiums, including three victories with three pole positions and four fastest race laps were orange. In 2021 KTM Factory Racing is certainly aiming for the next level.
KTM entered the premier MotoGP category with the newly developed KTM RC16 in 2017 and has since been developing its machine in an arena that demands the highest technical know-how. In a short time KTM has bridged the gap from the back of the grid to be serious competitors and race-winners in the premier category. KTM continues with a four-rider line-up in 2021; MotoGP race-winners Brad Binder and Miguel Oliveira in the Red Bull KTM Factory Racing team along with Danilo Petrucci and Iker Lecuona in the Tech3 KTM Factory Racing outfit. MotoGP Legend Dani Pedrosa and Mika Kallio ensure a deeply experienced test team.
</h3>
<h1 class="text-center racers mt-5">MOTOGP RACERS</h1>
<div class="row row-cols-1  row-cols-lg-3 mt-5 mb-5">
    <div class="col" *ngFor="let motoObj of motogp">
        <img src="{{motoObj.productImage}} "width=100% alt="">
        <h1 class="text-center">{{motoObj.productTitle}} </h1>
    </div>
</div>
</div>
<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5">
    <div class="col" *ngFor="let mobileObj of mobiles">
        <app-product-details [productObj]=mobileObj ></app-product-details>
    </div>

</div -->
<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5">
    <div class="col" *ngFor="let mobileObj of bikes">
        <app-product-details [productObj]=mobileObj ></app-product-details>
    </div>
</div> -->
<!-- <div class="card h-100 shadow text-center">
  <img src={{productObj.productImage}} class="card-img-top  " height="300px" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: #173e9c;">{{productObj.productTitle}}</h5>
    <p class="card-text">{{productObj.description}}
    </p>
    <button href="#" class="btn add-product" (click)="sendProductDetailsToParent(productObj.productTitle)"><i class="fas fa-plus-square me-2"></i>Add product</button>
  </div>
</div> -->