<h1 class="text-white text-center mt-3"><b>Sign in</b></h1>
<form class="col-lg-6 mx-auto mt-5">
    <div class="mb-3">
        <label for="exampleInputPassword13" class="form-label text-white">First Name</label>
        <input type="password" class="form-control" id="exampleInputPassword13">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword14" class="form-label text-white">Last Name</label>
        <input type="password" class="form-control" id="exampleInputPassword14">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-white">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword12" class="form-label text-white">Mobile Number</label>
        <input type="password" class="form-control" id="exampleInputPassword12">
      </div>
      <button type="submit" class="btn btn-primary ">Register</button>
  </form>
  